KAFKA_BROKER=localhost:9092
KAFKA_TOPIC=sim-outputs
KAFKA_DLQ_TOPIC=sim-outputs-failed
DELTA_PATH=./delta/sim_outputs
METADATA_PATH=./delta/metadata
CHECKPOINT_PATH=./delta/checkpoints/sim_outputs
SPARK_MASTER=local[*]
JAVA_HOME=/opt/homebrew/opt/openjdk@17
METADATA_DB_PATH=./metadata.db
